.search {
  box-sizing: border-box;
  background: white;
  position: relative;
  width: 300px;
  font-family: Verdana;
  border-radius: 16px;
}

.search input {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 60px 20px 20px;
  display: block;
  font-size: 16px;
  border-radius: 16px;
}

.search button {
  box-sizing: border-box;
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 8px;
  z-index: 2;
}

.search input:focus {
  box-sizing: border-box;
  color: #802;
}